@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

body {
    background: #f7f7f7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container_registerLogin {
    position: relative;
    width: 500px;
    margin: 80px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    z-index: 10;
}

.left {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 100px;
    margin: 10px;
    align-self: start;
}

h1 {
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 12px;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 12px;
    font-size: 14px;
    color: #ff7f00;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: #ff7f00;
    outline: none;
}

button {
    width: 100%;
    padding: 13px;
    background: #ff7f00;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #e86f00;
}

.error {
    margin-top: 10px;
    color: red;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 3;
}

.right img {
    position: absolute;
    width: 1200px; 
    right: -200px; 
    bottom: 0;
    z-index: 3;
    pointer-events: none;
}

.wave-bg {
    position: fixed;
    right: -550px;
    width: 100vw; 
    height: 60vh;
    z-index: 1;
    pointer-events: none;
    transform: rotate(-90deg); 

}
/*dashboard*/

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.info-box {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.actions button {
    margin: 10px 5px;
    padding: 10px;
    cursor: pointer;
}

ul {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.logout-btn {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c92c37;
}


.modal {
    display: none;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}

.modal-content input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}
/* RESPONSIVO */
@media (max-width: 900px) {
    .container_registerLogin {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .right {
        order: -1;
        height: 250px;
    }
}